<div class="container">
	<h3>All Profiles</h3>
	<%= link_to "All Designers", designers_path %> <br>
	<%= link_to "All Developers", developers_path %>

	<% @profiles.order("updated_at DESC").each do |p| %>
		<li>Student_id: <%= p.student_id %></li>
		<li>Profile id: <%= p.id %></li>
		<li><%= p.name %></li>
		<li><%= p.status %></li>
		<li><%= p.location %></li>
		<li> 
			Skills: <% p.skills.each do |s| %>
				<%= s.name %> 
			<%end %>
		</li>
		<li>Experience: </li>
		<li><%= link_to "View this candidate", profile_path(p.id) %></li>
		<hr>
	<% end %>
</div>

