<h3>Current Student's profile</h3>

<p>student_id: <%= @profile.student.id %></p>
<p>profile_id: <%= @profile.id %></p>
<%= @profile.name %>
<%= @profile.description %>
<%= @profile.location %>
<%= @profile.course %>

<!-- Skills Section -->
<% if student_signed_in? && @profile.student.id == current_student.id %>
	<%= render "skills/form" %>
	<%= render "skills/skills" %>
<% else %>
	<h3>Skills: </h3>
	<ul>
		<% @profile.skills.each do |s| %>
			<li>
				<%= s.name %>
			</li>
		<% end %>
	</ul>
<% end %>

<!-- Experience Section -->
<% if student_signed_in? && @profile.student.id == current_student.id %>
	<%= render "experiences/form" %>
	<%= render "experiences/experiences" %>
<% else %>
	<h3>Experiences: </h3>
	<ul>
		<% @profile.experiences.each do |e| %>
			<li><%= e.title %></li>
			<li><%= e.company %></li>
			<li><%= e.description %></li>
			<li><%= e.strftime("%m-%d-%Y", start) %></li>
			<li><%= e.end.strftime("%Y") %></li>
		<% end %>
	</ul>
<% end %>


<!-- Educatino Section -->