<h3>Current Student's profile</h3>
<p>student_id: <%= current_student.id %></p>
<p>profile_id: <%= @profile.id %></p>
<%= @profile.name %>
<%= @profile.description %>
<%= @profile.location %>
<%= @profile.course %>

<%= form_for([@profile, @skill], method: :post, action: :create) do |f| %>
	<p>Skill: <%= f.text_field :name %> </p>
	<%= f.hidden_field :profile_id, :value => @profile.id %>
	<p><%= f.submit %></p>
<% end %>