<div>
	<h2>
		Developers
	</h2>
	<!-- Designers view page -->
	<div class="student_lists">
		<% @developers.each do |dev| %>
			<% if !dev.profile.nil? && !dev.profile.experiences.last.nil? && !dev.profile.educations.last.nil? %>
				<h4><%= link_to dev.profile.name, profile_path(dev.profile.id) %></h4>
				<h4>I am Currently..: <%= dev.profile.status %> </h4>
				<p>
					Previously a <%= dev.profile.experiences.last.title %>
					at <%= dev.profile.experiences.last.company %>
				</p>
				<p>
					Degree in <%= dev.profile.educations.last.major %>
					at <%= dev.profile.educations.last.school %>
				</p>
				<strong>Skills: </strong>
				<% dev.profile.skills.each do |s| %>
					<%= s.name %>, 
				<% end %>
			<% end %>
		<% end %>
	</div>
	<div class="paginate_nav">
		<%= will_paginate @developers %>
	</div>	
