<%= form_for([@profile, @profile.skills.build]) do |f| %>
	<p>
		<%= f.label :skills %>
		<%= f.text_field :name %> 
	</p>
	<%= f.hidden_field :profile_id, :value => @profile.id %>
	<p><%= f.submit %></p>
<% end %>
