<div>
	<h2>
		Designers
	</h2>
	<!-- Designers view page -->
	<div class="student_lists">
		<% @designers.each do |des| %>
			<% if des.profile != nil && !des.profile.experiences.nil? && !des.profile.educations.nil? %>
				<h4><%= link_to des.profile.name, profile_path(des.profile.id) %></h4>
				<h4>I am Currently..: <%= des.profile.status %> </h4>
				<p>
					Previously a <%= des.profile.experiences.last.title %>
					at <%= des.profile.experiences.last.company %>
				</p>
				<p>
					Degree in <%= des.profile.educations.last.major %>
					at <%= des.profile.educations.last.school %>
				</p>
				<strong>Skills: </strong>
				<% des.profile.skills.each do |s| %>
					<%= s.name %>, 
				<% end %>
			<% end %>
		<% end %>
	</div>
	<div class="paginate_nav">
		<%= will_paginate @designers %>
	</div>	
</div>