<h3>My Experiences:</h3>
<ul>
	<!-- !element.id.nil? is same as element.id != nil -->
	<!-- required select method for first user who does not have any posts yet -->
	<% @profile.experiences.select{|element| !element.id.nil? }.each do |e| %>
	<p>
		<li>Title: <%= e.title %></li>
		<li>Company: <%= e.company %></li>
		<li>Description: <%= e.description %></li>
		<li>Start Date: <%= e.start %></li>
		<li>End Date: <%= e.end %></li> 
			<%= link_to "delete this experience", [e.profile, e],
				method: :delete,
				data: { confirm: "Are you sure?" } %>
	</p>
	<% end %>
</ul>
<hr>

