<h3>My Educations:</h3>
<!-- !element.id.nil? is same as element.id != nil -->
<% @profile.educations.select{|element| !element.id.nil? }.each do |edu| %>
	<p>
		School: <%= edu.school %> <br>
		Major: <%= edu.major %><br>
		Started: <%= edu.start %><br>
		Graduated: <%= edu.graduate %><br>
		<%= link_to "delete this education", [edu.profile, edu],
			method: :delete,
			data: { confirm: "Are you sure?" } %>
	</p>
<% end %>
<hr>


