<!DOCTYPE html>
<html>
<head>
  <title>NYCDAProfile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= flash[:danger] if flash[:danger] %>
<%= yield %>

</body>
</html>
