<!DOCTYPE html>
<html>
<head>
  <title>NYCDAProfile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<%= content_tag :div, flash[:notice], class: "alert alert-success" if flash[:notice] %>
  <%= content_tag :div, flash[:alert], class: "alert alert-danger" if flash[:alert] %>
	
	<nav>
		<%= link_to "HOME", root_path %>
		<%= link_to "STUDENTS", profiles_path %>
		<% if student_signed_in? && !current_student.profile.nil? %>	
			<%= link_to "MY PROFILE", profile_path(current_student.profile.id) %>
			<!-- just putting this here for now -->
			<%= link_to "JOBS", jobs_path %>
			<%= link_to "SETTINGS", edit_student_registration_path %>
			<%= link_to "SIGN OUT", destroy_student_session_path, :method => :delete %>
		<% elsif student_signed_in? && current_student.profile.nil? %>	
			<%= link_to "CREATE PROFILE", new_profile_path %>
			<%= link_to "SIGN OUT", destroy_student_session_path, :method => :delete %>
		<% else %>	
			<%= link_to "SIGN IN", student_session_path %>
			<%= link_to "SIGN UP", new_student_registration_path %>
		<% end %>
	</nav>

	<%= yield %>
</div>

</body>
</html>
